@page
@model WebApp.Pages.BasketModel
@{
    ViewData["Title"] = "Basket";
}

<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                @foreach (var p in Model.Products)
                {
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="data:image/png;base64,@(Convert.ToBase64String(p.Image))" class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@p.Name</p>
                                    <p><span class="text-muted">Unit: </span>@p.Unit</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                                    <form method="post" asp-page-handler="minus">
                                        <button class="btn btn-link px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </button>
                                        <input type="hidden" name="id" value="@p.Id">
                                    </form>

                                    <input min="0" name="quantity" value="@p.Quantity" type="number" readonly="readonly" class="form-control form-control-sm" />

                                    <form method="post" asp-page-handler="plus">
                                        <button class="btn btn-link px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                            </svg>
                                        </button>
                                        <input type="hidden" name="id" value="@p.Id">
                                    </form>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">€ @p.Price</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">

                                    <form method="post" asp-page-handler="delete">
                                        <button class="text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                            </svg>
                                        </button>
                                        <input type="hidden" name="id" value="@p.Id">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                    <h3>Total: € @Model.Total</h3>
                </div>

                <form method="post" asp-page-handler="">
                    <button type="submit" class="btn btnc btn-block btn-lg">Proceed to delivery options</button>
                </form>

            </div>
        </div>
    </div>
</section>